.profile__discription {
    margin: 0;
    padding: 16px 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 979px) {
    .profile__discription {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 767px) {
    .profile__discription {
        padding: 14px 0 36px 0;
        text-align: center;
    }
}

@media screen and (max-width: 525px) {
    .profile__discription {
        padding-top: 7px;
        font-size: 14px;
        line-height: 17px;
    }
}