.popup__btn-save {
    margin: 48px 0 0;
    padding: 0;
    border: none;
    border-radius: 2px;
    background-color: #000;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    min-height: 50px;
    width: 100%;
    transition: background-color .3s linear;
}

.popup__btn-save:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 525px) {
    .popup__btn-save {
        margin-top: 45px;
        min-height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}