.popup__btn-save {
    margin: 48px 0 0;
    padding: 0;
    border: none;
    border-radius: 2px;
    background-color: #000;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    min-height: 50px;
    width: 100%;
}